.title {
  text-align: center;
  margin: 40px
}

.container {
  margin: auto;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-left: 12px;
  cursor: pointer;
}